name: Actions Workflow
on: push
#on: 
#  push:
#    branches: 
#      - master 
#      - new-branch
#      - 'feature/*'      # matches feature/test but doesn't match feature/test/new
#      - 'feature/**'     # matches everything
#      - '!feature/featc' # it will specifically ignore the branch feature/featc
#    branches-ignore:
#      - master
#  schedule: 
#    - cron: "* * * * *"
#    tags: 
#      - v1.* 
#   tags-ignore:
#     - v1.2
#    paths:
#      - '**.js'          # run the workflow only when a js file is pushed.
#   paths-ignore:
#     - 'docs/**'
#  repository_dispatch: 
#    types: [build]
#  pull_request:
#  #  branches:
#  #    - master
#    types: [closed, opened, assigned, reopened]

jobs:
  run-github-actions:
    runs-on: poc-custom-runner-eks
    steps:
      - name: payload
        run: echo ${{ github.event.client_payload.env }}
      - name: List files
        run: |
          pwd
          ls -a 
          echo $GITHUB_SHA
          echo $GITHUB_REPOSITORY
          echo $GITHUB_WORKSPACE
          echo "${{ github.token }}"
          # git clone git@github:GITHUB_REPOSITORY
          # git checkout $GITHUB_SHA
      - name: Checkout
        uses: actions/checkout@v1
      - name: List files after checkout
        run: |
          pwd
          ls -a
      - name: Simple JS action
        id: greet
        uses: actions/hello-world-javascript-action@v1
        with:
          who-to-greet: 'Rahul'
      - name: Log Greeting time
        run: echo "${{ steps.greet.outputs.time }}"
