name: Container
on: push

jobs:
  docker-steps:
    runs-on: ubuntu-latest
    container: 
      image: node:10.18.0-jessie
    steps:
      - name: log node version
        run: |
          node -v
          cat /etc/os-release
      - name: run with docker container
        uses: docker://node:13.5.0-alpine3.10
        with: 
          entrypoint: '/bin/echo'
          args: "Hello World"
      - uses: actions/checkout@v1
      - name: run script
        uses: docker://node:13.5.0-alpine3.10
        with: 
          entrypoint: './script.sh'
          args: "yoyo"
        
  node-docker:
    runs-on: ubuntu-latest
    container: 
      image: node:13.5.0-alpine3.10
    steps:
      - name: log node version
        run: |
          node -v
          cat /etc/os-release