name: ENV Variables

on: push

env:
  WF_ENV: Available to all jobs

jobs:
  log_env:
    env:
      JOB_ENV: Available to al steps of this job
    runs_on: ubuntu-latest
    steps:
      - name: Log ENV Variables
        env:
          STEP_ENV: Available to this step
        run: |
          echo "WF_ENV: ${WF_ENV}"
          echo "JOB_ENV: ${JOB_ENV}"
          echo "STEP_ENV: ${STEP_ENV}"
      