name: ENV Variables

on: push

env:
  WF_ENV: Available to all jobs
  SECRET_ENV: ${{ secrets.SECRET_ENV }}

jobs:
  decrypt_file:
    runs-on: poc-custom-runner
    steps:
      - uses: actions/checkout@v1
      - name: decrypt the secret file
        run: gpg --quiet --batch --yes --decrypt --passphrase="$GPG_PASSPHRASE" --output="$HOME/secret.json" secret.json.gpg
        env: 
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
      - name: printing the output of the secret file
        run: cat $HOME/secret.json
             
  create_issue:
    runs-on: poc-custom-runner 
    permissions:
      issues: write 
    steps:
      - name: push a random file
        run: |
          pwd
          ls -a
          git init
          git remote add origin "https://$GITHUB_ACTOR:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY.git"
          git config --global user.email "mybot.com"
          git config --global user.name "mybot"
          git fetch
          git checkout main
          git branch --set-upstream-to=origin/main
          git pull
          ls -a
          echo $RANDOM >> random.txt
          git add -A
          git commit -m "random file"
          git push -u origin HEAD
          ls -a
      - name: Create issue using REST API
        run: |
          curl --request POST \
          --url https://api.github.com/repos/${{ github.repository }}/issues \
          --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' \
          --header 'content-type: application/json' \
          --data '{
            "title": "Automated issue for commit: ${{ github.sha }}",
            "body": "This issue was automatically created by the GitHub Action workflow **${{ github.workflow }}**. \n\n The commit hash was: _${{ github.sha }}_."
            }' \
          --fail
  log_env:
    env:
      JOB_ENV: Available to al steps of this job
    runs-on: ubuntu-latest
    steps:
      - name: Log ENV Variables
        env:
          STEP_ENV: Available to this step
        run: |
          echo "WF_ENV: ${WF_ENV}"
          echo "JOB_ENV: ${JOB_ENV}"
          echo "STEP_ENV: ${STEP_ENV}"
          echo "SECRET_ENV: ${SECRET_ENV}"
      