name: Shell Commands

#on: [push, pull_request]
on: 
# push:
#  schedule:
#    - cron: "* * * * *"
#  repository_dispatch: 
#    types: [build]
  pull_request:
    types: [closed, open, assigned, reopened]

jobs:
  run-shell-commands:
    runs-on: ubuntu-latest
    steps:
      - name: echo a string
        run: echo "Hello World"
      - name: run multi commands script
        run: |
          node -v
          npm -v
      - name: run python
        run: |
          import platform
          print(platform.processor())
        shell: python
  run-powershell-commands:
    runs-on: windows-latest
    needs: ["run-shell-commands"]
    steps:
      - name: powershell directlry
        run: Get-Location
      - name: Bash Directory
        run: pwd
        shell: bash

    